.main_2{
	display:flex;
	width: 100%;
	flex-direction:column;
	background-color:#fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.shortcuts, 
.quote,
.player{
	height: 210px;
	margin: 10px 0;
}

.shortcuts{
	margin: 10px 40px;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style:none;
}

.shortcuts li{
	margin: 0 5px;
	display:block;
	height: 80px;
	width: 80px;
	background-color: rgba(66, 66, 66, 0.9);
	box-shadow: 0px 5px 5px rgba(245, 245, 245, 1);
}



.shortcuts ::after{
	content="";
	padding-left: 10px;
}

/* quote */
.quote{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.quote .quote_word{
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  color: #424242;
  text-align: center;
  padding-bottom: 10px;
}

.quote .quote_human{
	text-align:center;
	width: 80%;
	padding-top: 8px;
  font-size: 30px;
  font-weight: bold;
	border-top: 1px solid #424242;
  color: #424242;
}


.player